body {
  height: 100vh;
  background: #f4a261;
  margin: auto 0;
}

button {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

.btn_container {
  margin-top: 75px;
}

.text_btn {
  color: #264653;
}

.pokemon_btn {
  border: 5px solid#264653;
  border-radius: 15px;
  padding: 10px 30px;
  font-size: 1.5em;
  background-color: transparent;
  position: relative;
}

.pokemon_btn:hover {
  background-color: #e76f51;
}

.pokemon_id {
  color: #264653;
  font-size: 2.5em;
}

.pokemon_name {
  color: #264653;
  font-size: 3em;
}

.pokemon-card_header {
  margin-top: 100px;
}

.img_box {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-height: 200px;
  max-width: 220px;
  margin: 0;
  padding: 0;
}

.sprites_img {
  display: flex;
  max-width: 1200px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.div2 {
  display: flex;
  max-width: 1200px;
  align-items: center;
  border: 2px solid #264653;
  margin-top: 20px;
  margin-bottom: 20px;
}
.div3 {
  display: flex;
  max-width: 1200px;
  align-items: center;
  border: 2px solid #264653;
  margin-top: 20px;
  margin-bottom: 20px;
}
.div4 {
  display: flex;
  max-width: 1200px;
  align-items: center;
  border: 2px solid #264653;
  margin-top: 20px;
  margin-bottom: 20px;
}
.div5 {
  display: flex;
  max-width: 1200px;
  align-items: center;
  border: 2px solid #264653;
  margin-top: 20px;
  margin-bottom: 20px;
}
